<% provide(:title, 'Contact us') %>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h1>Contact us</h1>
    </div>
  </div>
  <div class="panel-body">
    <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :email, class: "form-control", :autofocus => true, required: true %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control", required: true %>
      </div>

      <div class="form-group">
        <%= f.label :message %>
        <%= f.text_box :message, class: "form-control", required: true %>
      </div>

      <div class="hidden">
        <%= f.input :nickname, :hint => 'Leave this field blank!' %>
      </div>

      <div class="form-group">
        <%= f.submit "Send message", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>  
</div>
